:root {
    --cor-primaria: #F464C3;
    --cor-secundaria: #3D1C31;
    --cor-tres: #FDACE0;
    --branco: white;
    --preto: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    padding: 1rem;
}

header a {
    color: var(--branco);
    text-decoration: none;
    margin: 0 0.5rem;
}

#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#buscar {
    flex-grow: 1;
    padding: 0.4rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

#btn-buscar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
    color: var(--branco);
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-tres);
    padding: 0.5rem;
}

nav a {
    color: var(--preto);
    text-decoration: none;
}

nav a:first-child {
    border-right: 1px solid var(--preto);
}

#banner {
    width: 100%;
    background-image: url("../imgs/red-1867767_640.jpg");
    background-size: cover;
    height: 400px;
    position: relative;
}

#txt-banner {
    position: absolute;
    top: 10%;
    right: 10%;
    color: var(--branco);
    text-align: right;
}

.conteudo h1 {
    text-align: center;
    margin: 2rem 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    background-color: var(--cor-branca);
    overflow: hidden;
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card p {
    margin: 10px 0;
}

.price {
    font-size: 1.2em;
    color: var(--cor-primaria);
}

.btn-comprar {
    background-color: var(--cor-primaria);
    color: var(--branco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;
}

.btn-comprar:hover {
    background-color: #d354a2;
}

.img-search {
    width: 24px;
    object-fit: contain;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}


    



